<h1>User Dictionary</h1>
<br>
<h3>Current Words:</h3>
<ul>
#foreach ($word in $words)
  <li>$word.getWord()</li>
#end
</ul>
<br>

<h4>Want to contribute to the User Dictionary?</h4>
<form action="/words" method="post">
  <label for="word">Enter a new word here:</label><br>
  <input type="text" id="word" name="word" value="word"><br><br>
  <button type="submit" class="btn btn-info">Create Word</button>
</form>
