<h1>User Dictionary</h1>
<br>
<h4>Current Words:</h4>

<h3>Want to contribute to the User Dictionary?</h3>
<h4>Enter a new word here:</h4>
<form action="/words" method="post">
  <label for="word"></label>
  <input type="text" name="word" value="word">
</form>
