<h1>$word.getWord()</h1>

#if($definitions)
  #foreach ($definition in $definitions)
    <p>$definition.getDefinition()<p><hr>
  #end
#else
  <h4>This word has not been defined yet!</h4>
#end

$definitions
<br>
<p><a href="/$word.getId()/new-def">Click here</a> to add a new definition.</p>
<a href="/">Home</a>
